main:after, main section:after, main section header:after, main section .container:after {
  content: "";
  display: table;
  clear: both; }


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  line-height: 1.625; }

h1 {
  font-size: 35px;
  font-size: 2.1875rem; }

h2 {
  font-size: 31px;
  font-size: 1.9375rem; }

h3 {
  font-size: 27px;
  font-size: 1.6875rem; }

h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 21px;
  font-size: 1.3125rem; }

h6 {
  font-size: 18px;
  font-size: 1.125rem; }

p {
  font-size: 16px;
  font-size: 1rem; }

body {
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif; }

code {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #aaa;
  display: block;
  font-family: monospace;
  margin: 20px 0px;
  padding: 0px 20px;
  white-space: pre-wrap;
  width: 100%; }
  code span.pun {
    color: black; }
  code span.pln {
    color: #c0f; }
  code span.lit {
    color: #f0c; }
  code span.kwd {
    color: #c0f; }

a.download-button {
  display: block;
  padding: 10px 20px 10px 20px;
  color: #555;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: bold;
  background: #eee;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 50ms linear;
  -moz-transition: all 50ms linear;
  -ms-transition: all 50ms linear;
  transition: all 50ms linear;
  margin: 0px 0px 20px; }

a.download-button:hover {
  background-color: #ddd;
  border-color: #ccc; }

a.download-button span {
  font-size: 14px;
  display: block;
  margin-top: 2px; }

header.primary {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin: 0px auto 20px;
  text-align: center; }
  header.primary h1 {
    font-size: 5.25rem;
    font-weight: bold;
    padding: 20px 0px 0px 0px; }
  header.primary p {
    font-size: 1rem;
    padding: 0px 0px 20px 0px; }
  @media (max-width: 767px) {
    header.primary {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      float: left; }
      header.primary h1 {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        float: left;
        margin-left: 0%; } }

main {
  width: 100%;
  max-width: 600px;
  margin: auto; }
  main section {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    float: left; }
    main section header {
      margin: 0px 0px 20px 0px;
      text-align: center; }
      main section header h2 {
        background: none;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase; }
    main section.typography {
      margin: 0px 0px 15px; }
      main section.typography h1, main section.typography h2, main section.typography h3, main section.typography h4, main section.typography h5, main section.typography h6, main section.typography p {
        background: #fee;
        margin: 10px 0px; }
      main section.typography header h2 {
        background: none;
        margin: 0px 0px 5px; }
    main section .container {
      width: 100%;
      max-width: 600px;
      margin-bottom: 20px; }
    main section .float-tile {
      padding-left: 20px;
      padding-right: 20px;
      width: 33.33333%;
      float: left;
      background: #fee;
      border: 1px solid #dcc;
      height: 100px;
      float: left; }
      main section .float-tile.offset-tile {
        margin-left: 33.33333%; }
    main section .col-container {
      width: 100%;
      text-align: justify !important;
      text-justify: distribute-all-lines;
      font-size: 0 !important;
      max-width: 600px;
      margin-bottom: 20px; }
      main section .col-container > * {
        text-align: left;
        font-size: 1rem; }
      main section .col-container:after {
        content: '';
        display: inline-block;
        width: 100%; }
    main section .col-tile {
      width: 30.83333%;
      vertical-align: top;
      display: inline-block;
      border: 1px solid #dcc;
      background: #fee;
      height: 100px; }

footer.primary {
  width: 100%;
  margin: 0px auto 20px;
  padding: 10px 0px;
  text-align: center; }
  footer.primary p {
    font-size: 0.75rem;
    color: #555; }
