// ###Typography

// Scale type at $type-rhythm-ratio
$h6-size: round(strip-unit($rem-base) * $type-rhythm-ratio);
$h5-size: round($h6-size * $type-rhythm-ratio);
$h4-size: round($h5-size * $type-rhythm-ratio);
$h3-size: round($h4-size * $type-rhythm-ratio);
$h2-size: round($h3-size * $type-rhythm-ratio);
$h1-size: round($h2-size * $type-rhythm-ratio);

// Typographic Rhythm Mixin
@mixin type($rem-base: $rem-base,$line-height-base: $line-height-base, $type-rhythm-ratio: $type-rhythm-ratio){

  // Set line-height
  body {
    line-height: $line-height-base / strip-unit($rem-base);
  }

  // Set heading sizes to size variables
  h1 {
    font-size: rem-calc($h1-size);
  }

  h2 {
    font-size: rem-calc($h2-size);
  }

  h3 {
    font-size: rem-calc($h3-size);
  }

  h4 {
    font-size: rem-calc($h4-size);
  }

  h5 {
    font-size: rem-calc($h5-size);
  }

  h6 {
    font-size: rem-calc($h6-size);
  }

  p {
    font-size: $rem-base;
  }

}